<!DOCTYPE html>
<html>
<head>
  <title>Joe Sample App</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag %>
  
  <%= yield :head %>
  
</head>
<body>
    
    <%= render 'layouts/nav' %>
    
    <%= yield %>
            
    <%= yield :bottom %>
     
    <script type="text/javascript">
      var url = window.location;
      // console.log(url.href);
      // Will only work if string in href matches with location
      $('ul.nav a[href="'+ url.href +'"]').parent().addClass('active');
      
      // Will also work for relative and absolute hrefs
      $('ul.nav a').filter(function() {
        return this.href == url.href;
      }).parent().addClass('active');
    </script> 
        
</body>
</html>
